# Lists

Here is a list ["Hello", "I", "Michel", "am"]

1. Store this list in a variable we'll call michel
2. Make a loop so that the console returns each of the items in the list

In [1]:
michel = ["Hello", "I", "Michel", "am"]
for item in michel:
    print(item)

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

In [2]:
michel[-2],michel[-1]=michel[-1],michel[-2]
for item in michel:
    print(item)

Hello
I
am
Michel

Here's a list of ages: [12, 16, 34, 58, 9].

1. Store this age list in a variable that we'll call: 

```
age
```

2. We would like this list to be arranged in ascending order, how do we do that?

In [3]:
age=[12, 16, 34, 58, 9]
for i in range(len(age)):
    for j in range(i+1, len(age)):
        if age[i] > age[j]:
            age[i], age[j] = age[j], age[i]
print(age)

[9, 12, 16, 34, 58]

# Dictionaries

We told you that dictionaries are very useful with APIs, so let's try to use the Star Wars API.

1. In your text editor, write:

```
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()
```
_You don't need to download anything_

2. This will make it possible to call the Star Wars API to store it on a dictionary format in a variable called _dic_.

3. See what's in the dictionary via a loop

4. We'd like to make a nice phrase to describe the character like this: 

`“{{name}} is {{height}} cm tall and weighs {{mass}} kg. He was born in {{birth_year}}”`

In [4]:
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()

In [5]:
for key in dic:
    print(key, ":", dic[key])

name : Luke Skywalker
height : 172
mass : 77
hair_color : blond
skin_color : fair
eye_color : blue
birth_year : 19BBY
gender : male
homeworld : https://swapi.dev/api/planets/1/
films : ['https://swapi.dev/api/films/1/', 'https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/', 'https://swapi.dev/api/films/6/']
species : []
vehicles : ['https://swapi.dev/api/vehicles/14/', 'https://swapi.dev/api/vehicles/30/']
starships : ['https://swapi.dev/api/starships/12/', 'https://swapi.dev/api/starships/22/']
created : 2014-12-09T13:50:51.644000Z
edited : 2014-12-20T21:17:56.891000Z
url : https://swapi.dev/api/people/1/

In [6]:
template_male = "{name} is {height} cm tall and weighs {mass} kg. He was born in {birth_year}."
template_female = "{name} is {height} cm tall and weighs {mass} kg. She was born in {birth_year}."
if dic["gender"] == "male":
    template = template_male
else:
    template = template_female
description = template.format_map(dic) 

print(description)

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY.

# Slices

We have the following dataset: `kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`.
 
1. This variable represents a list of kilometres travelled every morning by 8 users to work.
2. Using a loop, calculate the total average of all the users' trips
3. Is this average representative of what all individuals really go through? Why do you think so?

In [11]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]
total = 0
for km in kilometres_travelled:
    total += km
average = total/ len(kilometres_travelled)
print(f"On average, users travelled {average} km to get to work.")

On average, users travelled 156.0 km to get to work.

156.0 km is not a representative average because there is an extreme element in the list : 1000 km is a very unrealistic distance and it seems to be an error.

4. Change the variable kilometers_travelled to have a more representative average

In [12]:
kilometres_travelled.remove(1000)
total = 0
for km in kilometres_travelled:
    total += km
average = total/ len(kilometres_travelled)
print(f"On average, users travelled {average} km to get to work.")

On average, users travelled 35.42857142857143 km to get to work.