In [1]:
#la liste de départ
michel=["Hello", "I", "Michel", "am"]

In [2]:
#on affiche chaque element de la liste initiale
def affiche_liste(liste):
    for el in liste:
        print(el)
affiche_liste(michel)

Hello
I
Michel
am

In [3]:
#On intervertit le dernier element avec l'avant dernier
michel[-1], michel[-2] = michel[-2], michel[-1]
#on affiche chaque element de la liste modifiée

affiche_liste(michel)

Hello
I
am
Michel

In [4]:
age=[12, 16, 34, 58, 9]

In [5]:
for i in range(len(age)):
    for j in range(i+1,len(age)):
        if age[i]>age[j]:
            age[i],age[j]=age[j],age[i]

print(age)

[9, 12, 16, 34, 58]

Dictionaries

In [6]:
import requests
request = requests.get("https://swapi.dev/api/people/1/")

In [7]:
dic = request.json()

In [8]:
for cle, valeur in dic.items():
    print(f"{cle} → {valeur} , info type valeur : {type(valeur)}")

name → Luke Skywalker , info type valeur : <class 'str'>
height → 172 , info type valeur : <class 'str'>
mass → 77 , info type valeur : <class 'str'>
hair_color → blond , info type valeur : <class 'str'>
skin_color → fair , info type valeur : <class 'str'>
eye_color → blue , info type valeur : <class 'str'>
birth_year → 19BBY , info type valeur : <class 'str'>
gender → male , info type valeur : <class 'str'>
homeworld → https://swapi.dev/api/planets/1/ , info type valeur : <class 'str'>
films → ['https://swapi.dev/api/films/1/', 'https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/', 'https://swapi.dev/api/films/6/'] , info type valeur : <class 'list'>
species → [] , info type valeur : <class 'list'>
vehicles → ['https://swapi.dev/api/vehicles/14/', 'https://swapi.dev/api/vehicles/30/'] , info type valeur : <class 'list'>
starships → ['https://swapi.dev/api/starships/12/', 'https://swapi.dev/api/starships/22/'] , info type valeur : <class 'list'>
created → 2014-12-09T13:50:51.644000Z , info type valeur : <class 'str'>
edited → 2014-12-20T21:17:56.891000Z , info type valeur : <class 'str'>
url → https://swapi.dev/api/people/1/ , info type valeur : <class 'str'>

In [ ]:
template_male= "{name} is {height} cm tall and weighs {mass} kg. He was born in {birth_year}."
template_female= "{name} is {height} cm tall and weighs {mass} kg. She was born in {birth_year}."
if dic["gender"]=="male":
    print(template_male.format(**dic))
else:
    print(template_female.format(**dic))

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY.

Slices

In [10]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]

In [11]:
total_km=0
compteur=0
for km in kilometres_travelled:
    total_km+=km
    compteur+=1
average=total_km/compteur

In [12]:
print(f"On average, users travelled {average} km to get to work.")

On average, users travelled 156.0 km to get to work.

I don't think this average of 156.0 km to get to work is representative because there is on extreme value of 1000 km. it is unrealistic to travel 1000 km every morning togo to work, so this value of 1000 km is almost certainly an error or an exception.We can try calculating the average without the 1000 value :

In [13]:
total_km = 0
compteur = 0
for km in kilometres_travelled:
    if km <= 200:           # or km < 300, etc.
        total_km += km
        compteur += 1

average = total_km / compteur if compteur > 0 else 0
print(f"On average, users travelled {average} km to get to work.")

On average, users travelled 35.42857142857143 km to get to work.